.App {
  font-family: 'Helvetica Neue', sans-serif;
  text-align: center;
  padding: 50px;
}

.contenedor-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

h1{
  color: gold;
}

@media (max-width: 768px) {
  .contenedor-principal {
    flex-direction: column;
  }
}
