/* Container for each person */
.contenedor-principal-projectos {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: gold;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.2s ease-in-out;
  }
  
  .contenedor-principal-projectos:hover {
    transform: scale(1.05);
  }
  
  /* Styling for the name */
  .person-name {
    font-size: 16px;
    color: gold;
    margin-bottom: 10px;
  }
  

  /* Responsive design */
  @media (min-width: 600px) {
    .person-container {
      flex-direction: row;
      max-width: 480px;
    }
  
    .person-name {
      font-size: 18px;
    }
  }