

.container {
  background-color: #fff;
  border-radius: 20px; /* Ajusta el radio de los bordes según tu preferencia */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
  padding: 20px;
  max-width: 400px; /* Ajusta el ancho máximo del contenedor */
  width: 100%;
  text-align: center;
  align-items: center;
  margin: 5%;
}

.title {
  font-family: 'Jacquarda Bastarda 9', serif;
  color: black; /* Color del texto del título */
  font-size: 2rem; /* Tamaño del texto del título */
  margin-bottom: 20px; /* Espacio entre el título y la caja principal */
}


input {
  font-family: "Merriweather", serif;
  color: #333; /* Cambiado a un tono más neutro */
  width: 200px; /* Ajustado el ancho */
  height: 40px; /* Ajustado el alto */
  text-align: right;
  border-radius: 8px;
  border: 1px solid #ccc; /* Cambiado el tipo de borde */
  outline: none;
  font-size: 1.5rem; /* Reducido el tamaño de la fuente */
  margin-bottom: 15px; /* Añadido margen inferior */
}



