* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 18px;
  background-color: #f5f6f7;
}

h1 {
  max-width: 100%; /* Cambiado de 940px a 100% */
  font-size: 2em; /* Reducido el tamaño de fuente */
  font-family: Lato, sans-serif;
  font-weight: 700;
  line-height: 1.1;
  margin: 20px 0; /* Reducido el margen */
}

.App {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contenedor-principal {
  min-height: 400px; /* Reducido el min-height */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* Media queries para ajustar el diseño en diferentes tamaños de pantalla */
@media screen and (max-width: 768px) {
  h1 {
      font-size: 1.5em; /* Ajustado el tamaño de fuente para pantallas pequeñas */
      margin: 10px 0; /* Ajustado el margen para pantallas pequeñas */
  }

  .contenedor-principal {
      min-height: 300px; /* Reducido el min-height para pantallas pequeñas */
  }
}
