nav {
  background-color: silver;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
  font-family: 'Lato', sans-serif;
  flex-wrap: wrap;
}



a {
  text-decoration: none;
  font-size: 1em;
  padding: 0px;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
}

a:hover, .activo {
  background-color: black;
  color: white;
}

/* Responsive design */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  a {
    width: 100%;
    text-align: center;
  }
}